*{
  margin: 0;
  padding: 0;
}

main{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

figure{
  display: flex;
  margin: 10px;
}

img{
  flex-wrap: wrap;
  gap: 10px;
}
