*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
  justify-content: space-between;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1{
}

#section-2{
  display: flex;
  flex-grow: calc(2/5);
}

#section-3{
  display: flex;
  flex-grow: calc(3/5);
}

#section-4{
  display: flex;
  flex-basis: 200px;
}

#section-5{
  display: flex;
  order: -1;
}