/* Altere o CSS da página para deixá-la como o exemplo abaixo. Para isso, utilize as propriedades, `flex-basis`, `flex-grow` e `order`. O valor inicial (padrão) para estas propriedades é 0.

As definicões a se aplicar são:
- O item 5 deve ser o primeiro na ordem dos blocos;
- O item 4 deve ter uma base flex de 200px;
- O item 3 possui 3/5 do espaco restante;
- O item 2 possui 2/5 do espaco restante;
- O item 1 não sofre alteracoes.

![](https://jslpfmlhyrzjbddidwga.supabase.co/storage/v1/object/public/assets-conteudo/imagens/exercicio3-flex.png?t=2022-09-11T22%3A09%3A56.693Z) */
*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: orange;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
}

#section-1{
  order: 2;
}

#section-2{
  order: 3;
  flex-basis: 40%;
}

#section-3{
  order: 3;
  flex-basis: 60%;
}

#section-4{
  order: 4;
  flex-basis: 200px;
}

#section-5{
  order: 1;
}