* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-evenly; */
  gap: 50px 50px;
  

  
}

.item {
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  
}