* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item {
  border: 1px solid black;
  background-color: white;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}