* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
}

.item {
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
}