* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.item {
  display: flex;  
  justify-content: center; 
  align-items: center;
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  /* text-align: center; */
  margin-top: 40px;
  /* padding: 70px; */
}