* {
  margin: 0;
  padding: 0;
}

.container {
  padding-block: 10vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  text-align: center;

}

.item {
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}