* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  display: flex;
  border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
  margin: 30px;
  align-items: center;
  justify-content: center;
}